* {
    box-sizing: border-box;
}

html {
    font-family: mont, sans-serif;
    color: var(--black);

}

body {
    font-size: 19px;
    margin: 0;
    /* height: 100vh; */
}

main {
    background-color: var(--bg);
    flex-grow: 1;
}

img {
    height: 100%;   

}

a {
    color: var(--black);
    font-family: mont, sans-serif;
    text-decoration: none;

}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
