footer {
    color: var(--white);
    background-color: var(--brand);
    height: 180px;
}

footer .logo {
    height: 30%;
    margin: 15px 0;
}

footer img {
    height: 100%;
}

footer p {
    margin: 0 auto;
}