.gallery .filter {
    height: 100px;
    background-color: var(--white);
}

.gallery .filter input {
    font-family: mont, sans-serif;
    height: 60px;
    font-size: 1.25em;
    border: none;
    border-bottom: 2px solid var(--black);
    padding-inline-start: 1em;
}

.gallery .filter input:focus {
    outline: none;
}

.gallery .filter p{
    margin-inline-start: 1em;
}

.gallery .main-gallery {
    margin: 0 auto;
}

.gallery .gallery-container {
    margin-top: 1.05em;
    margin-bottom: 1.05em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(475px, 1fr));
    grid-gap: 20px;
    align-content: center;
    justify-content: center;
    

}

.gallery .gallery-container img {
    width: 100%;
    object-fit: cover;

}

.gallery .gallery-container img:hover {
    cursor: pointer;
    outline: 8px solid var(--brand);

}