.gallery .filter {
    background-color: var(--white);
    margin-bottom: 25px;

}

.gallery .filter input {
    font-family: mont, sans-serif;
    border: none;
    border-bottom: 2px solid var(--black);
    padding-inline-start: 10px;

}

.gallery .filter input:focus {
    outline: none;
}

.gallery .filter-keys {
    gap: 30px;
}

.gallery .main-gallery {
    margin: 0 auto;
}

.gallery .gallery-container {
    margin-bottom: 25px;
    display: grid;
    grid-gap: 20px;
    align-content: center;
    justify-content: center;

}

.gallery .gallery-container img {
    width: 100%;
    object-fit: cover;

}

.gallery .gallery-container img:hover {
    cursor: pointer;
    outline: 5px solid var(--brand);

}