.meme {
    display: none;
    margin-top: 1.05em;
}

.meme .canvas-container {
    /* flex-basis: 50%; */
}

.meme aside {
    /* flex-basis: 50%; */
    width: 375px;
}

.meme input {
    height: 60px;
    width: 100%;
    border: none;
    border-radius: 1em;
    margin-bottom: 1em;

}

.meme button {
    background-color: var(--white);
    height: 65px;
    width: 65px;
    border-radius: 1em;
    border: none;
}

.meme select {
    height: 60px;
    border: none;
    border-radius: 1em;

}

.meme .meme-lines {
    margin-bottom: 2em;

}

.meme .meme-edit {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;

}


/* .meme .meme-lines >* {
    margin: 0 0.5em;
    
} */